.cart {
    display:flex;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.cart__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    color: #2f6452;
}

.cart__left {
    width: 100%;
}

.cart__items {
  display: flex;  
  flex-direction: column;
  align-items: flex-start;  
}

.cart__right {
    width: 600px;
}