.homeCatalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.homeCatalog > div.title__container {
  margin: 1rem;
  justify-self: center;
  align-self: center;
  margin-left: 20rem;
}

.catalog__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.catalog_title {
  margin-bottom: 20px;
}

.filter__features {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.checkbox__options {
  display: flex;
  flex-direction: column;
}

.home_productsNearby {
  display: flex;
  flex-direction: row;
  max-width: 2000px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.home_productsNearby > h2 {
  color: #304b50;
}
