.catalog_container {
  width: 100%;
  max-width: 800px;
}
.catalog_title {
  margin-bottom: 20px;
}
.catalog_productCont {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.catalogProduct {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  color: #223335;
}
.catalogProduct > p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.catalogProduct__title {
  margin-bottom: 5px;
}
.catalogProduct__description {
  text-align: justify;
}
.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
.homeCatalog {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
}
.home_productsNearby {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  position: relative;
}
.home_productsNearby > h2 {
  color: #304b50;
}
.home_row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
  order: 5;
  max-width: 25%;
  position: relative;
}
.home_image {
  width: 100%;
  z-index: -5;
  margin-bottom: -150px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}