.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 300px;
  background-color: white;
  z-index: 1;
  font-size: 12pt;
  color: hsl(189, 25%, 25%);
}

.product__image {
  flex: 1;
}

.product__title {
  color: hsl(188, 24%, 18%)
}

.product__image > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
}

.product > button {
  background: #3b945e;
  border: 1px solid;
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  outline: none;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  text-align: center;
  height: 100%;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
}

.product__info > p {
  margin: 5px 0px;
  text-align: left;
}

.product__location {
  display: flex;
  align-items: center;
  color: rgb(96, 96, 96);
}
