.product__detail {
  width: 50%;
  max-width: 800px;
  height: 55%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  margin: 15% 35%;
  align-items: center;
  gap: 2rem;
  padding: .8rem;
  box-sizing: border-box;
  background: white;
  border-radius: 8px;
}

div.big-img {
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: center;
}

div.big-img > .main__image {
  object-fit: contain;
  max-width: 400px;
}

div.colors > button {
  padding: .6rem;
}

div.colors {
  display: flex;
  gap: 1rem;
}

div.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
  align-items: center;
  height: 20%;
  min-height: 250px;
}

div.box p {
  margin: 0;
}

button.detail__cart {
  background: #3b945e;
  border: 1px solid;
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 5px;
  color: white;
  outline: none;
  cursor: pointer;
}

div.thumb {
  display: flex;
  flex-direction: row;
  width: 100%; 
  height: 40%;
  min-height: 100px;
}

div.thumb > img {
  object-fit: contain;
}