.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__productsNearby {
  display: flex;
  flex-direction: column;
}

.home__productsNearby > h2 {
  color: hsl(189, 24%, 27%);
}

.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}
