#inventory{
    width: 100%;
    padding: 30px;
}

.inventoryItems {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    color: #223335
  }
  
  .inventoryItems  > p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .inventoryItems__title {
      margin-bottom: 5px;
  }
  
  .inventoryItems__description {
    text-align: justify;
  }
  