.checkoutProduct {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 20px;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(227, 225, 225);
}

.checkoutProduct__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 100%;
}

.checkoutProduct__info > button {
    background: #3b945e;
    border: 1px solid;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
}

.checkoutProduct__info > p {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.checkoutProduct__price, .checkoutProduct__condition {
    color: #304B50;
}

.checkoutProduct__image {
  width: 180px;
}

.checkoutProduct__image > img {
  max-height: 180px;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
}

.checkoutProduct__location {
  display: flex;
  align-items: center;
  color: gray;
}
