  .footer {
    background-color: #182628;
}

.footer .title {
    font-size: 22px;
    text-transform: uppercase;
    margin: 0 0 20px;
}
  
.footer .logo a {
    color: #fff;
}
  
.socials li {
    margin: 0 20px;
}
  
.socials a {
    color: #fff;
}

/* All links hover effect */
a:hover {
    color: #1890ff;
}

.section {
    list-style: none;
    display: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 24px;
}
  .copyright {
      color: white;
  }