.footer {
  background-color: #182628;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #f8f8f8;
  width: 100%;
  min-width: 1000px;
}

.footer__top {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer__section {
  display: flex;
  flex-direction: column;
}

.footer__section > h4 {
  color: #57ba98;
}

.footer__section > p {
    margin-top: 0px;
    margin-bottom: 5px;
  }

.footer__email {
  color: #5ea7ff;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

.footer__section > a {
  color: #f8f8f8;
  text-decoration: none;
  margin-bottom: 5px;
}
/* All links hover effect */
a:hover {
  color: #1890ff;
}

.section {
  list-style: none;
  display: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}
.copyright {
  color: white;
}
