#purchases {
  width: 100%;
  padding: 30px;
}

.purchasedItems {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: left;
  color: #223335;
}

.purchasedItems > p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.purchasedItems__title {
  margin-bottom: 5px;
}
