.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer-content {
  position: relative;
  width: 100%;
  background-color: #182628;
}

body { 
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #F2F2F2;
}

.main-content {
  flex: 1;
  display: flex;
  height: auto;
}