.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
  flex: 1;
  width: 100%;
  color: #f8f8f8;
  font-size: 16px;
}

.nav__links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link {
  margin-right: 30px;
  color: #f8f8f8;
  font-size: 80%;
}

.link:hover {
  text-decoration: underline;
}

#nav__logOutButton {
  border-radius: 3px;
  color: black;
  margin: 0px 6px;
  padding: 3px 8px;
  outline: none;
  cursor: pointer;
  font-size: 80%;
}

.nav__left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 80%;
}

.nav__login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.nav__loginButton, .nav__signUpButton {
  margin: 0px 10px;
  background-color: #57ba98;
  padding: 3px 8px;
  color: white;
  border-radius: 3px;
  font-size: 80%;
  outline: none;
  cursor: pointer;
}

.nav__basket {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.nav__loggedInMsg {
  margin-right: 15px;
  font-weight: 800;
}