.cartProduct {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 20px;
  justify-content: flex-start;
  border-bottom: 1px solid rgb(227, 225, 225);
}

.cartProduct__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 100%;
}

.cartProduct__info > button {
    background: #3b945e;
    border: 1px solid;
    margin-top: 10px;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    outline: none;
}

.cartProduct__info > p {
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.cartProduct__price, .cartProduct__condition {
    color: #263c3f;
}

.cartProduct__title {
  color: #263a3e;
  font-weight: 800;
}

.cartProduct__image {
  width: 180px;
}

.cartProduct__image > img {
  max-height: 180px;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
}

.cartProduct__location {
  display: flex;
  align-items: center;
  color: gray;
}
